#loading_{
  display: inline;
}

#loading_1{
  box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 50%;
  left: 50%;
  font-family: Arial;
  width: 30%;
  margin-left: -15%;
  text-align: center;
  font-size: 12px;
  color: white;
  z-index: 999999;
}

#loading_1 span {
  vertical-align: middle;
  -webkit-animation: fade_ 1s linear infinite;
  -moz-animation: fade_ 1s linear infinite;
  -o-animation: fade_ 1s linear infinite;
  animation: fade_ 1s linear infinite;

  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  bottom: 0;
}

/* ANIMATION */
@-webkit-keyframes rotate_ {
  from { -webkit-transform: rotate(0deg) }
  to { -webkit-transform: rotate(360deg) } }
@-moz-keyframes rotate_ {
  from { -moz-transform: rotate(0deg) }
  to { -moz-transform: rotate(360deg) } }
@-o-keyframes rotate_ {
  from { -o-transform: rotate(0deg) }
  to { -o-transform: rotate(360deg) } }
@keyframes rotate_ {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) } }

@-webkit-keyframes fade_ {
  from { opacity: 1 }
  50% { opacity: 0.4 }
  to { opacity: 1 } }
@-moz-keyframes fade_ {
  from { opacity: 1 }
  50% { opacity: 0.4 }
  to { opacity: 1 } }
@-o-keyframes fade_ {
  from { opacity: 1 }
  50% { opacity: 0.4 }
  to { opacity: 1 } }
@keyframes fade_ {
  from { opacity: 1 }
  50% { opacity: 0.4 }
  to { opacity: 1 } }

/* CONTAINER */
#container_ {
  width: 30px;
  height: 30px;
  /* PRESENTATIONAL PURPOSES */
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  /**/
  -webkit-user-select: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 6px #222,
    0 0 6px 10px #444;
  -moz-box-shadow: 0 0 0 6px #222,
    0 0 6px 10px #444;
  box-shadow: 0 0 0 6px #222,
    0 0 6px 10px #444
}

/* TEXT */
#content_ {
  background: #222;
  background: -webkit-linear-gradient(#222,#111);
  background: -moz-linear-gradient(#222,#111);
  background: -o-linear-gradient(#222,#111);
  background: linear-gradient(#222,#111);
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  font: normal normal normal 12px/140px
    'Electrolize', Helvetica, Arial, sans-serif;
  color: #fff
}

/* SPINNING GRADIENT */
.ring_ {
  margin: 0 auto;
  border-radius: 110px;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation: rotate_ 1s linear infinite;
  -moz-animation: rotate_ 1s linear infinite;
  -o-animation: rotate_ 1s linear infinite;
  animation: rotate_ 1s linear infinite
}

/* COLORS */
.green_ {
  background: -webkit-linear-gradient(#bfff00,transparent,#bfff00);
  background: -moz-linear-gradient(#bfff00,transparent,#bfff00);
  background: -o-linear-gradient(#bfff00,transparent,#bfff00);
  background: linear-gradient(#bfff00,transparent,#bfff00)
}

.blue_ {
  background: -webkit-linear-gradient(#3cf,transparent,#3cf);
  background: -moz-linear-gradient(#3cf,transparent,#3cf);
  background: -o-linear-gradient(#3cf,transparent,#3cf);
  background: linear-gradient(#3cf,transparent,#3cf)
}

.red_ {
  background: -webkit-linear-gradient(#cd5c5c,transparent,#cd5c5c);
  background: -moz-linear-gradient(#cd5c5c,transparent,#cd5c5c);
  background: -o-linear-gradient(#cd5c5c,transparent,#cd5c5c);
  background: linear-gradient(#cd5c5c,transparent,#cd5c5c)
}

.purple_ {
  background: -webkit-linear-gradient(#e166e1,transparent,#e166e1);
  background: -moz-linear-gradient(#e166e1,transparent,#e166e1);
  background: -o-linear-gradient(#e166e1,transparent,#e166e1);
  background: linear-gradient(#e166e1,transparent,#e166e1)
}
